body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0 auto; 
    max-width: 800px; 
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 50px; 
}

h1 {
    color: #343a40;
}

hr {
    border: 2px solid #6c757d;
    margin: 20px auto; 
    width: 40%;
}

h2, h3 {
    color: #007bff;
    width: 40%;
    margin: 0 auto; 
}

nav {
    text-align: center;
}

a {
    display: block;
    color: #17a2b8;
    text-decoration: none;
    font-weight: bold;
    margin: 10px auto;
    padding: 8px;
    border: 2px solid #17a2b8;
    border-radius: 5px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    width: 40%;
}

a:hover {
    color: #ffffff;
    background-color: #17a2b8;
}