h2 {
    font-size: 40px;
}

label {
    font-size: 25px;

}

input {
    
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 300px;
    height: 25px;
    
}

button {
    padding: 8px 15px;
    font-size: 12px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    color: rgb(146, 188, 233);
    margin-top: 10px;
}

table{
    border-collapse: collapse;
    
}

th,td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: rgb(188, 188, 249);
}

.columna1{
    width: 20%;
}

.columna2{
    width: 20%;
}

.columna3{
    width: 40%;
}

